




.essay {
    text-align: left;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

  h1{
    font-size: 22px;
    letter-spacing: 1.5px;

  }

.color-mode{
  height: 10px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  font-size: 0.6rem;
  cursor: pointer;
  border-radius: 5px;
}
.clr{
  width:20px;
  cursor: pointer;
}
.me{
width: 150px;
}

.me2{
  width: 100px;
  }
  
.dado{
width: 20px;
}
.logo {
width: 40px;
margin-bottom: 20px;
}

.about_me{
  /* font-family: 'PT Sans', sans-serif; */
  color: rgb(35, 48, 68);
  font-smooth: never;
  -webkit-font-smoothing : none; 
}


.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: break-spaces; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}



  input, select, textarea {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  a{ 
    text-decoration: none;
  }




  
.grid{
  margin: 0 auto;
  margin-top: 30px;
  background: black;
}
.rows{
  display: flex;
  flex-direction: row;

}

.dead{
  display:flex;
  flex-direction: column;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;


}

.alive{
  display:flex;
  flex-direction: column;
  background: #84fff9;
  width: 12px;
  height: 12px;
  border-radius: 50%;

}

.wtf{
  display:flex;
  flex-direction: column;
  background: #ff7dff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.bro{
  display:flex;
  flex-direction: column;
  background: #fff042;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.ble{
  display:flex;
  flex-direction: column;
  background: #E91E63;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.color{
  display:flex;
  flex-direction: column;
  background: #71ffaa;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}