
  
.App {
    margin: 0 auto;
    text-align: justify;
    height: 1500px;

    
  }

  h1{
    font-size: 22px;
    letter-spacing: 1.5px;

  }

.color-mode{
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  font-size: 0.6rem;
  cursor: pointer;
}

.me{
width: 150px;
}



  input, select, textarea {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  
  a{ 
    text-decoration: none;
  }

